<div class="add-product">
  <h1>Add New Product</h1>
  <p class="message-p">{{ addProductMessage }}</p>
  <form
    class="common-form"
    #addProduct="ngForm"
    (ngSubmit)="submit(addProduct.value)"
  >
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product name"
      name="name"
      ngModel
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product price"
      name="price"
      ngModel
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product color"
      name="color"
      ngModel
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Category"
      name="category"
      ngModel
    />
    <textarea
      type="text"
      class="form-input"
      placeholder="Enter Product Description"
      name="description"
      ngModel
    ></textarea>
    <input
      type="text"
      class="form-input"
      placeholder="Enter Product Image URL"
      name="image"
      ngModel
    />
    <button class="form-button">Add Product</button>
  </form>
</div>
